@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
	src:  url('../webfonts/OpenSans-Regular.woff2') format('woff2'),
        url('../webfonts/OpenSans-Regular.woff') format('woff'),
        url('../webfonts/OpenSans-Regular.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Bold';
  font-style: normal;
  font-weight: 600;
	src:  url('../webfonts/OpenSans-SemiBold.woff2') format('woff2'),
        url('../webfonts/OpenSans-SemiBold.woff') format('woff'),
        url('../webfonts/OpenSans-SemiBold.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Italic';
  font-style: normal;
  font-weight: 600;
	src:  url('../webfonts/OpenSans-Italic.woff2') format('woff2'),
        url('../webfonts/OpenSans-Italic.woff') format('woff'),
        url('../webfonts/OpenSans-Italic.ttf') format('ttf');
  font-display: swap;
}

*,
*::before,
*::after{
  box-sizing: border-box;
}

:root{
  --header-height: 70px;
  --orange: #FF7F00;
  --black: #141414;
  --white: #FFFFFF;
  --gray: #3D3D3D;
  --lighter-gray: #5C5C5C;
  --darker-gray: #292929;
  --menuBtnColor: white;
  --max-continer-width: 1350px;
}

body{
  margin-top: var(--header-height);
}

body,
footer{
  font-family: 'Open Sans', sans-serif;
}

header{
  font-family: 'Open Sans Bold', sans-serif;
}

main{
  min-height: calc(100vh - 85px);
}

main a[href^="http"]::after{
  font-family: "Font Awesome 5 Free";
  content: "\f35d";
  font-weight: 900;
  padding-left: 10px;
}


.container{
  margin: 0 auto;
  width: 96%;
  height: 100%;
  max-width: var(--max-continer-width);
}

/*  HEADER  */
/*  HEADER  */
/*  HEADER  */

.logo,
.logo img{
  height: calc(var(--header-height)/1.2);
  width: auto;
}

.menuSecondLogo{
  margin-bottom: 50px;
}

.menuSecondLogo:is(:hover)::after{
  width: 50px;
}

.menuSecondLogo img{
  height: calc(var(--header-height)/1.5);
  max-height: 45px;
  width: auto;
}

.navButton{
  height: calc(var(--header-height)/1.35);
  width: calc(var(--header-height)/1.35);
  color: var(--menuBtnColor);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7em;
  transition: all 0.3s;
}

.navButtonHamburger{
  height: 4px;
  width: 34px;
  margin: 0 auto;
  background-color: var(--menuBtnColor);
  border-radius: 3px;
  position: relative;
  transition: all 0.5s;
  color:inherit;
}

.navButtonHamburger::before,
.navButtonHamburger::after{
  height: 4px;
  width: 34px;
  position: absolute;
  background-color: var(--menuBtnColor);
  border-radius: 3px;
  content: "";
  display: block;
  transition: all 0.5s;
}

.navButtonHamburger::before{
  transform: translateY(-12px);
}

.navButtonHamburger::after{
  transform: translateY(12px);
}

.navButton:is(:hover, .active){
  --menuBtnColor: #FF7F00;
}

.navButton.active .navButtonHamburger{
  background-color: transparent;
}

.navButton.active .navButtonHamburger::before{
  transform: rotate(135deg) translateX(7px) translateY(4px);
  width: 25px;
}

.navButton.active .navButtonHamburger::after{
  transform: rotate(-135deg) translateX(-7px) translateY(4px);
  width: 25px;
}



header .container{
  padding: 0 2.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header{
  height: var(--header-height);
  position: fixed;
  z-index: 2;
  top:0;
  left:0;
  right: 0;
  background-color: var(--black);
  color: var(--white);
}

header nav{
  position: absolute;
  top: var(--header-height);
  left: 0;
  right: 0;
  box-shadow: 0px 2px 3px var(--orange);
  overflow: auto;
  background-color: var(--darker-gray);
  z-index: 10;
}

header nav ul{
  padding: 0;
  margin: 20px 0 0;
  list-style: none;
}

header nav a{
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 15px 0;
  margin: 5px 0;
  color: var(--white);
  transition: color 0.3s;
  position: relative;
  outline: none;
}

header nav a:hover,
header nav a:focus,
header nav a.active{
  color: var(--orange);
}

header nav a::after{
  transition: all 0.3s;
  height: 0;
  width: 0;
  background-color: var(--orange);
  content: "";
  display: block;
  margin: 0 auto;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}

header nav a:is(:hover, .active)::after{
  height: 2px;
  width: 35px;
}


/* SLIDER */
/* SLIDER */
/* SLIDER */


.sliderContainer{
  width: 100%;
  height: calc(100vh - var(--header-height));
  overflow: hidden;
  text-align: center;
  position: relative;
  background-color: black;
}

.sliderContainer::after{
  content: "";
  position: absolute;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0, .65);
}

.sliderVideo{
  height: 100%;
  position: relative;
}

.sliderVideo video{
  position: absolute;
  top:-20%;
  left:-20%;
  width: 140%;
  height: 140%;
  object-fit: cover;
}

.sliderVideo img{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sliderText{
  position: absolute;
  top:22%;
  left:0;
  right: 0;
  color: white;
  z-index: 1;
  margin: 0 auto;
  max-width: 90%;
  text-align: center;
  font-family: 'Open Sans Bold', sans-serif;
}

.sliderText h1{
  color: var(--orange);
  text-align: inherit;
  word-wrap: break-word;
  position: relative;
}

.sliderText h1 span{
  position: relative;
}

.sliderText h1 span::after{
  content: "";
  display: block;
  height: 2px;
  background-color: var(--orange);
  width: 104px;
  position: absolute;
  top: 90%;
  left: 0;
}

.sliderText h1::before{
  content: "QUANTUM CARS / TRUCKS BRNO";
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: #777;
  bottom: 105%;
  font-size: 8pt;
}

.sliderText p{
  font-size: 13.5pt;
  margin-top: 3%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: inherit;
}

/*  PAGE  */
/*  PAGE  */
/*  PAGE  */

.cookies{
  text-align: center;
  padding-top: 30px;
}

.cookies h2{
  color: var(--orange);
}

.index{
  background-color: #F8F8F8;
  overflow: auto;
  padding-bottom: 50px;
}

.indexHeader2{
  text-align: center;
  color: var(--orange);
  margin-top: 35px;
  margin-bottom: 15px;
}

.about{
  counter-reset: paragraph;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.about p{
  position: relative;
  width: 85%;
  max-width: 280px;
  margin: 22px 2%;
  padding: 0 10px 0 25px;
  text-align: center;
  font-family: 'Open Sans Bold', sans-serif;
}

.about p::before{
  counter-increment: paragraph;
  content: counter(paragraph);
  position: absolute;
  top: 0px;
  left: -10px;
  font-size: 30pt;
  color: var(--orange);
}

.whyWe p::before{
  content: "#";
}


.chiptuningTypes{
  background-color: #F8F8F8;
  overflow: auto;
}

.indexHeader1{
  text-align: center;
  color: var(--orange);
  font-size: 22pt;
  padding: 0 2%;
}

.card{
  background-color: #EBEBEB;
  padding: 15px 20px;
  border-radius: 4px;
  margin: 35px auto;
  color: black;
  width: 95%;
  max-width: 500px;
}

.cardHeader{
  text-align: center;
  text-transform: uppercase;
}

.cardHeader img{
  width: 160px;
  height: auto;
  margin: 0 auto;
}

.cardText{
  text-align: center;
  font-family: 'Open Sans Bold', sans-serif;
}

.cardText a{
  display: block;
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  padding: 8px 10px;
  margin: 10px auto;
  background-color: var(--orange);
  border-radius: 4px;
  color: white;
  text-decoration: none;
  outline: none;
  transition: all 0.1s linear;
}

.cardText a:hover{
  transform: scale3d(1.05, 1.05, 1.05);
}

.contact .card h3{
  text-align: center;
  text-transform: uppercase;
}

.contact .card{
  width: 90%;
  max-width: 550px;
}

.contact .card ul{
  padding-left: 5%;
}

.contact .card li{
  list-style: none;
}

.contact .card .bold{
  font-family: 'Open Sans Bold', sans-serif;
  margin-top: 8px;
}

.contact .card iframe{
  border: 0;
  display: block;
  width: 100%;
  height: 250px;
}

.moreInfo{
  text-align: center;
  font-family: 'Open Sans Italic', sans-serif;
  font-size: 90%;
}

.moreInfo a{
  text-decoration: none;
  outline: none;
  color: var(--orange);
}

.moreInfo a:hover{
  color: var(--lighter-gray);
}

.didntFound{
  text-align: center;
  font-family: 'Open Sans Bold', sans-serif;
  margin-top: 150px;
}

.didntFound h2{
  color: var(--orange);
  font-size: 15pt;
}

/* FOOTER */
/* FOOTER */
/* FOOTER */

footer{
  background-color: var(--darker-gray);
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

footer p{
  text-align: center;
  color: var(--lighter-gray);
}

footer a.active{
  color: var(--orange);
}

footer a{
  margin: 0 auto;
  display: block;
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  color: var(--lighter-gray);
}

footer a:hover{
  color: var(--orange);
}


@media only screen and (min-width: 568px){
  .card{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .contact .card{
    display: block;
    width: 46%;
  }

  .contact .cardsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .cardHeader,
  .cardText{
    margin: 0 2%;
  }

  .cardText{
    margin-top: 15px;
    margin-left: 35px;
  }

}


@media only screen and (min-width: 768px){
  :root{
    --header-height: 75px;
  }

  header .container{
    padding: 0;
  }

  .navButton{
    display: none;
  }

  header nav{
    display: block;
    position: static;
    height: var(--header-height) !important;
    overflow: hidden;
    opacity: 1 !important;
    box-shadow: none;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  header nav ul{
    display: flex;
    margin: 0;
  }

  header nav ul a{
    margin: 0 12px;
    padding: 0 5px;
    line-height: var(--header-height);
  }

  header nav a::after{
    bottom: 23px;
  }

  .menuSecondLogo::after{
    bottom: 0px;
  }

  .menuSecondLogo{
    margin: 0 0 0 10px;
    padding: 0;
  }

  .sliderText{
    max-width: var(--max-continer-width);
    margin-top: 2%;
    width: 95%;
  }

  .sliderText h1{
    font-size: 28pt;
  }

  .sliderText p{
    font-size: 18pt;
  }

  .sliderText h1::before{
    font-size: 8.5pt;
  }

  .chiptuningTypes h1{
    font-size: 26pt;
  }

}

@media only screen and (min-width: 1024px){
  .cardsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .card{
    width: 45%;
    margin: 20px;
  }

  .sliderText h1{
    font-size: 35pt;
  }

  .sliderText p{
    font-size: 22pt;
  }

  .sliderText h1::before{
    font-size: 10pt;
  }

}

@media only screen and (min-width: 1280px){
  :root{
    --header-height: 80px;
  }

  header nav a::after{
    bottom: 25px;
  }

  .sliderText h1{
    font-size: 37pt;
  }

  .sliderText p{
    font-size: 24pt;
  }

  .sliderText h1::before{
    font-size: 11pt;
  }

  .chiptuningTypes h1{
    font-size: 30pt;
  }

}

@media only screen and (min-width: 1600px){
  .sliderText h1{
    font-size: 40pt;
  }

  .sliderText p{
    font-size: 26pt;
  }

  .sliderText h1::before{
    font-size: 12pt;
  }

}

@media only screen and (min-width: 1800px){
  :root{
    --max-continer-width: 1650px;
  }
}
